*{
	padding: 0;
	margin: 0;
}
body{
	display: flex;
	justify-content: center;
	background: rgba(247,247,247,255);
	overflow: hidden;
}

#env{
	width: 100vw;
	height: 500px;
	border: 1px solid black;
}
#charactar{
	width: 150px;
	height: 100px;
	background-image: url('assets/horse.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	top: 400px;
	left: 30px;
}
#obstacle{
	height: 50px;
	width: 100px;
	background: url('assets/obstacle.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	top: 350px;
	left: 95vw;
	animation: move 1.5s infinite linear;
	
}

@keyframes move{
	0%{
		left: 95vw;
	}
	100%{
		left: -60px;
	}
}
.jump{
	animation: jump 0.5s ;
}
@keyframes jump{
	0%{top: 400px}
	40%{top: 310px}
	70%{top: 310px}
	100%{top: 400px}
}